# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Aqui está uma breve explicação de cada componente:

# USER: O nome do usuário do seu banco de dados
# PASSWORD: A senha para o usuário do banco de dados
# HOST: O nome do seu host (para o ambiente local, é localhost)
# PORT: A porta onde seu servidor de banco de dados está rodando (normalmente 5432para PostgreSQL)
# DATABASE: O nome do banco de dados
# SCHEMA: O nome do esquema dentro do banco de dados

# DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA"


